<div class="container mt-5">
  <div class="calculator card">
    <div class="card-body">
      <input type="text" class="form-control mb-3 text-right" readonly />
      
      <div class="row">
        <button class="btn btn-light border col-6 col-md-3">CE</button>
        <button class="btn btn-light border col-6 col-md-3">C</button>
        <button class="btn btn-light border col-6 col-md-3">←</button>
        <button class="btn btn-light border col-6 col-md-3">÷</button>
      </div>

      <div class="row">
        <button class="btn btn-light border col-4 col-md-3">7</button>
        <button class="btn btn-light border col-4 col-md-3">8</button>
        <button class="btn btn-light border col-4 col-md-3">9</button>
        <button class="btn btn-light border col-4 col-md-3">×</button>
      </div>

      <div class="row">
        <button class="btn btn-light border col-4 col-md-3">4</button>
        <button class="btn btn-light border col-4 col-md-3">5</button>
        <button class="btn btn-light border col-4 col-md-3">6</button>
        <button class="btn btn-light border col-4 col-md-3">-</button>
      </div>

      <div class="row">
        <button class="btn btn-light border col-4 col-md-3">1</button>
        <button class="btn btn-light border col-4 col-md-3">2</button>
        <button class="btn btn-light border col-4 col-md-3">3</button>
        <button class="btn btn-light border col-4 col-md-3">+</button>
      </div>

      <div class="row">
        <button class="btn btn-light border col-4 col-md-3">0</button>
        <button class="btn btn-light border col-4 col-md-3">.</button>
        <button class="btn btn-primary col-8 col-md-6">=</button>
      </div>
    </div>
  </div>
</div>